body {
    font-family: Arial, sans-serif;
    background-color: #0078d7;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

#container {
    margin: 20px auto;
    padding: 20px;
    background-color: #005a9e;
    border-radius: 10px;
    width: 300px;
}

form {
    margin-bottom: 20px;
}

input {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff8c00;
}

#resultado {
    margin-top: 20px;
}